In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
ds= pd.read_csv('breast_cancer.csv')
x= ds.iloc[:, 1:-1]
y= ds.iloc[:, -1]

In [12]:
ds.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [13]:
ds.describe()

       Sample code number  Clump Thickness  ...     Mitoses       Class
count        6.830000e+02       683.000000  ...  683.000000  683.000000
mean         1.076720e+06         4.442167  ...    1.603221    2.699854
std          6.206440e+05         2.820761  ...    1.732674    0.954592
min          6.337500e+04         1.000000  ...    1.000000    2.000000
25%          8.776170e+05         2.000000  ...    1.000000    2.000000
50%          1.171795e+06         4.000000  ...    1.000000    2.000000
75%          1.238705e+06         6.000000  ...    1.000000    4.000000
max          1.345435e+07        10.000000  ...   10.000000    4.000000

[8 rows x 11 columns]

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.25, random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [15]:
from sklearn.linear_model import LogisticRegression
classifier= LogisticRegression(random_state= 0)
classifier.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [16]:
y_pred= classifier.predict(x_test)

In [17]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test, y_pred)
print(cm)

[[103   4]
 [  5  59]]

In [18]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = x_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 96.68 %
Standard Deviation: 1.53 %